In [25]:
import pandas as pd


sales = pd.read_csv("supermarket_sales.csv")

sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [36]:
X = sales.drop(columns=["Branch", "Invoice ID", "City", "Customer type", "Gender", "Product line", "Quantity", "Tax 5%",
                       "Total", "Date", "Time", "Payment", "cogs", "gross margin percentage", "gross income"]) # features
# Achtung, ich habe die funktion drop() gebraucht. Das heisst, dass ich alle Felder als feature genommen habe, die sich nicht
# in der oberen Liste befinden.
y = sales["City"] # target

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

len(X_train), len(X_test)

(700, 300)

# 4.1
 Bestimmen Sie, welche Felder Ihrer Daten für Ihr Modell besonders 
aussagekräftig sind.
> Wie aussagekräftig die verschiedene Felder sind ist abhängig von der Art der Vorhersage. Als Features habe ich Unit price also der Produktpreis und Quantity genommen. Am meisten Aussagekräftig sind die Felder `Unit price` und `Quantity`. Anhand von diesen Daten möchte ich herausfinden in welcher Stadt am meisten Produkte verkauft worden sind.

# 4.2
 Wählen Sie eine geeignete Messmetrik für Ihr Modell und berechnen 
Sie sie.

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test))

                        precision    recall  f1-score   support

Electronic accessories       1.00      1.00      1.00        56
   Fashion accessories       1.00      1.00      1.00        53
    Food and beverages       1.00      1.00      1.00        44
     Health and beauty       1.00      1.00      1.00        49
    Home and lifestyle       1.00      1.00      1.00        47
     Sports and travel       1.00      1.00      1.00        51

              accuracy                           1.00       300
             macro avg       1.00      1.00      1.00       300
          weighted avg       1.00      1.00      1.00       300

# 4.3
 Wählen Sie geeignete Bedingungen und erstellen Sie eine 
Wahrheitsmatrix für Ihr Modell. Berechnen Sie darüber hinaus Sensitivität 
und Spezifizität.

In [94]:
# Operation & accuracy
TP= 44
TN = 25
FP = 10
FN = 16
accuracy = (TP + TN)/(TP + TN + FP + FN)
print(accuracy)

0.7263157894736842

In [77]:
# Sensivität
TP = 120
FN = 0
recall = TP / (TP + FN)
print(f"recall: {recall:4.2f}")

recall: 1.00

In [74]:
# Spezifizität
TF = 7 
print("  FN    FP   TP     pre   acc   rec   f1")
for FN in range(0, 7):
    for FP in range(0, FN+1):
        TP = 100 - FN - FP - TF
        #print(FN, FP, TP, FN+FP+TP+TF)
        precision = TP / (TP + FP)
        accuracy = (TP + TN)/(TP + TN + FP + FN)
        recall = TP / (TP + FN)
        f1_score = 2 * precision * recall / (precision + recall)
        print(f"{FN:6.2f}{FP:6.2f}{TP:6.2f}", end="")
        print(f"{precision:6.2f}{accuracy:6.2f}{recall:6.2f}{f1_score:6.2f}")

  FN    FP   TP     pre   acc   rec   f1
  0.00  0.00 93.00  1.00  1.00  1.00  1.00
  1.00  0.00 92.00  1.00  0.99  0.99  0.99
  1.00  1.00 91.00  0.99  0.98  0.99  0.99
  2.00  0.00 91.00  1.00  0.98  0.98  0.99
  2.00  1.00 90.00  0.99  0.98  0.98  0.98
  2.00  2.00 89.00  0.98  0.97  0.98  0.98
  3.00  0.00 90.00  1.00  0.98  0.97  0.98
  3.00  1.00 89.00  0.99  0.97  0.97  0.98
  3.00  2.00 88.00  0.98  0.96  0.97  0.97
  3.00  3.00 87.00  0.97  0.95  0.97  0.97
  4.00  0.00 89.00  1.00  0.97  0.96  0.98
  4.00  1.00 88.00  0.99  0.96  0.96  0.97
  4.00  2.00 87.00  0.98  0.95  0.96  0.97
  4.00  3.00 86.00  0.97  0.94  0.96  0.96
  4.00  4.00 85.00  0.96  0.94  0.96  0.96
  5.00  0.00 88.00  1.00  0.96  0.95  0.97
  5.00  1.00 87.00  0.99  0.95  0.95  0.97
  5.00  2.00 86.00  0.98  0.94  0.95  0.96
  5.00  3.00 85.00  0.97  0.94  0.94  0.96
  5.00  4.00 84.00  0.95  0.93  0.94  0.95
  5.00  5.00 83.00  0.94  0.92  0.94  0.94
  6.00  0.00 87.00  1.00  0.95  0.94  0.97
  6.00  1.00 86.00  0.99  0.94  0.93  0.96
  6.00  2.00 85.00  0.98  0.94  0.93  0.96
  6.00  3.00 84.00  0.97  0.93  0.93  0.95
  6.00  4.00 83.00  0.95  0.92  0.93  0.94
  6.00  5.00 82.00  0.94  0.91  0.93  0.94
  6.00  6.00 81.00  0.93  0.90  0.93  0.93

# 4.4
Fassen Sie in 50 bis 100 Wörtern zusammen, wie gut Ihr Modell 
funktioniert, und stellen Sie Hypothesen auf, warum.
> Das Modell könnte besser funktionieren. Richtige Aussagen werden ab und zu richtig getroffen, aber oft auch nicht. Wenn ich z.B. 80 für das Unit price und 6.2 für das Rating eingeben wird eine bestimmte Stadt ausgegeben. Anhand von den vorhandenen Daten sieht man, dass das Resultat gar nicht die Stadt "Naypyitaw" sein kann bei so einem hohen Produktpreis und so einen Rating.

# 4.5
 Falls sich die Adresse Ihres repository geändert haben sollte, so senden 
Sie es via Formular an Ihre Lehrperson.

`Adresse bleibt gleich`