In [43]:
import pandas as pd


sales = pd.read_csv("supermarket_sales.csv")

sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [218]:
X = sales.drop(columns=["Branch", "Invoice ID", "City", "Customer type", "Gender", "Product line", "Quantity", "Tax 5%",
                       "Total", "Date", "Time", "Payment", "cogs", "gross margin percentage", "gross income"]) # features
# Achtung, ich habe die funktion drop() gebraucht. Das heisst, dass ich alle Felder als feature genommen habe, die sich nicht
# in der oberen Liste befinden.

y = sales["City"] # target

# 3.1
Teilen Sie Ihren Datensatz in einen test- und einen train-Satz ein.

In [122]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

len(X_train), len(X_test)

(700, 300)

# 3.2
Bestimmen Sie einen Algorithmus aus sklearn, der für Ihren Datensatz und Ihr Problem geeignet ist. Erklären Sie Ihre Entscheidung in 50 bis 100 Wörtern. Alternativ dazu können Sie auch verschiedene Algorithmen evaluieren und so bestimmen, welcher am besten geeignet ist. Berechnen Sie ein Modell mittels Ihres ausgesuchten Algorithmus auf Ihren train-Daten.
### Decision Tree
> Ich habe mich für den Decision Tree Algorithmus entschieden. Die Vorteile des Algotithmus sind aus meiner Sicht sehr passend für meinen Datensatz. Decision Tree ist fähig, sowohl numerische als auch kategorische Daten zu verarbeiten. In meinem Fall, gehört das target zu den kategorischen Daten und die features zu den numerischen Daten. Decision Tree braucht wenig Datenvorbereitung. Dazu ist der Algorithmus allgemein einfach zu verstehen und zu interpretieren.

# 3.3
Testen Sie, wie gut Ihr Modell funktioniert, indem Sie einige Vorhersagen aus dem test-Datensatz generieren und diese manuell auf ihre Sinnhaftigkeit überprüfen. Fassen Sie Ihre Erkenntnisse in 50 bis 100 Wörtern zusammen.

In [356]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train.values, y_train) 
predictions = model.predict([ [80, 6.2] ])
predictions

predictions = model.predict(X_test.values)
score = accuracy_score(y_test, predictions)
print(f"Score = {score}")
predictions

Score = 0.37

array(['Yangon', 'Yangon', 'Mandalay', 'Naypyitaw', 'Yangon', 'Yangon',
       'Mandalay', 'Naypyitaw', 'Naypyitaw', 'Mandalay', 'Yangon',
       'Naypyitaw', 'Yangon', 'Naypyitaw', 'Mandalay', 'Mandalay',
       'Mandalay', 'Mandalay', 'Yangon', 'Yangon', 'Yangon', 'Mandalay',
       'Yangon', 'Yangon', 'Yangon', 'Yangon', 'Naypyitaw', 'Mandalay',
       'Yangon', 'Yangon', 'Mandalay', 'Mandalay', 'Naypyitaw',
       'Mandalay', 'Mandalay', 'Yangon', 'Yangon', 'Yangon', 'Yangon',
       'Naypyitaw', 'Naypyitaw', 'Mandalay', 'Mandalay', 'Yangon',
       'Yangon', 'Mandalay', 'Mandalay', 'Yangon', 'Mandalay', 'Yangon',
       'Mandalay', 'Yangon', 'Naypyitaw', 'Naypyitaw', 'Yangon',
       'Naypyitaw', 'Mandalay', 'Mandalay', 'Naypyitaw', 'Mandalay',
       'Mandalay', 'Naypyitaw', 'Mandalay', 'Mandalay', 'Yangon',
       'Naypyitaw', 'Naypyitaw', 'Mandalay', 'Naypyitaw', 'Yangon',
       'Mandalay', 'Yangon', 'Yangon', 'Naypyitaw', 'Yangon', 'Mandalay',
       'Yangon', 'Yangon', 'Mandalay', 'Naypyitaw', 'Naypyitaw',
       'Mandalay', 'Mandalay', 'Naypyitaw', 'Yangon', 'Mandalay',
       'Mandalay', 'Naypyitaw', 'Yangon', 'Mandalay', 'Mandalay',
       'Naypyitaw', 'Mandalay', 'Yangon', 'Naypyitaw', 'Naypyitaw',
       'Mandalay', 'Mandalay', 'Naypyitaw', 'Mandalay', 'Yangon',
       'Yangon', 'Naypyitaw', 'Naypyitaw', 'Naypyitaw', 'Naypyitaw',
       'Yangon', 'Naypyitaw', 'Naypyitaw', 'Yangon', 'Naypyitaw',
       'Naypyitaw', 'Naypyitaw', 'Yangon', 'Yangon', 'Naypyitaw',
       'Mandalay', 'Yangon', 'Yangon', 'Mandalay', 'Yangon', 'Yangon',
       'Mandalay', 'Naypyitaw', 'Naypyitaw', 'Mandalay', 'Mandalay',
       'Yangon', 'Yangon', 'Yangon', 'Yangon', 'Mandalay', 'Yangon',
       'Mandalay', 'Mandalay', 'Yangon', 'Naypyitaw', 'Mandalay',
       'Naypyitaw', 'Naypyitaw', 'Yangon', 'Mandalay', 'Mandalay',
       'Naypyitaw', 'Naypyitaw', 'Yangon', 'Naypyitaw', 'Mandalay',
       'Naypyitaw', 'Naypyitaw', 'Naypyitaw', 'Naypyitaw', 'Mandalay',
       'Mandalay', 'Naypyitaw', 'Naypyitaw', 'Yangon', 'Yangon',
       'Mandalay', 'Yangon', 'Naypyitaw', 'Mandalay', 'Mandalay',
       'Mandalay', 'Naypyitaw', 'Naypyitaw', 'Yangon', 'Yangon', 'Yangon',
       'Mandalay', 'Mandalay', 'Mandalay', 'Mandalay', 'Naypyitaw',
       'Mandalay', 'Yangon', 'Yangon', 'Yangon', 'Yangon', 'Mandalay',
       'Mandalay', 'Yangon', 'Yangon', 'Mandalay', 'Naypyitaw', 'Yangon',
       'Yangon', 'Naypyitaw', 'Naypyitaw', 'Naypyitaw', 'Naypyitaw',
       'Yangon', 'Mandalay', 'Naypyitaw', 'Yangon', 'Naypyitaw',
       'Mandalay', 'Naypyitaw', 'Yangon', 'Yangon', 'Yangon', 'Naypyitaw',
       'Mandalay', 'Mandalay', 'Mandalay', 'Naypyitaw', 'Yangon',
       'Naypyitaw', 'Mandalay', 'Yangon', 'Naypyitaw', 'Mandalay',
       'Naypyitaw', 'Naypyitaw', 'Naypyitaw', 'Yangon', 'Naypyitaw',
       'Yangon', 'Naypyitaw', 'Yangon', 'Yangon', 'Naypyitaw', 'Mandalay',
       'Yangon', 'Yangon', 'Naypyitaw', 'Yangon', 'Naypyitaw',
       'Naypyitaw', 'Naypyitaw', 'Yangon', 'Naypyitaw', 'Naypyitaw',
       'Yangon', 'Mandalay', 'Yangon', 'Yangon', 'Yangon', 'Yangon',
       'Mandalay', 'Yangon', 'Mandalay', 'Yangon', 'Yangon', 'Yangon',
       'Naypyitaw', 'Naypyitaw', 'Mandalay', 'Mandalay', 'Yangon',
       'Naypyitaw', 'Mandalay', 'Mandalay', 'Mandalay', 'Naypyitaw',
       'Yangon', 'Yangon', 'Naypyitaw', 'Mandalay', 'Naypyitaw', 'Yangon',
       'Naypyitaw', 'Mandalay', 'Yangon', 'Mandalay', 'Mandalay',
       'Naypyitaw', 'Mandalay', 'Yangon', 'Mandalay', 'Yangon',
       'Naypyitaw', 'Mandalay', 'Naypyitaw', 'Yangon', 'Naypyitaw',
       'Yangon', 'Mandalay', 'Mandalay', 'Naypyitaw', 'Mandalay',
       'Mandalay', 'Naypyitaw', 'Yangon', 'Mandalay', 'Yangon', 'Yangon',
       'Mandalay', 'Mandalay', 'Naypyitaw', 'Naypyitaw', 'Naypyitaw',
       'Yangon', 'Yangon', 'Yangon', 'Mandalay', 'Naypyitaw', 'Yangon',
       'Yangon', 'Yangon'], dtype=object)

### Erkenntnisse
> Zuerst habe ich manuell Daten eingegeben für die Feature-Felder die ich ausgewählt habe. Ich muss sagen, dass das Resultat nicht schlecht aussieht. Die Resultate waren öfter sinnvoll als nicht sinnvoll. Danach habe ich mich gefragt, ob die genauigkeit auch so gut aussieht mit Hilfe der Funktion "accuracy_score". Auf dem ersten Blick kann man sagen, dass das Modell leider nicht der genauste ist. Mir ist bewusst, dass die Menge der Daten vor allem die Begründung sind für das schlechte Score. Mein Datensatz war ebenfalls zu gross, darum habe ich die ersten 1000 Zeilen genommen.

# 3.4
Falls sich die Adresse Ihres repository geändert haben sollte, so senden Sie es via Formular an Ihre Lehrperson.

`Adresse bleibt gleich`